.operation-bar {
  display: flex;
  justify-content: space-between;
  column-gap: 100px;
  align-items: center;
  margin-bottom: 20px;
}
.pagination-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
